.container-fluid {
  margin: 5% auto;
  padding-right: 50px;
  padding-left: 50px;
}

.card {
  box-shadow: none;
  background: transparent!important;
  &.card-cascade {
    .view {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      &.view-cascade {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
      }
    }
    &.wider {
      .card-body {
        &.card-body-cascade {
          background: #fff;
          margin-left: 4%;
          margin-right: 4%;
        }
      }
      &.reverse {
        .card-body {
          &.card-body-cascade {
            margin-top: -1rem;
            z-index: 10;
            border-radius: .25rem;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
          }
        }
      }
    }
  }
}

.introduce {
  margin: 5% 2%;
}

/*TODO : Add this to single file*/
/*Skeleton Screen Animation*/
$base-color: #F4F4F4;
$shine-color: rgba(229, 229, 229, 0.8);
$animation-duration: 2.0s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px) !important;
}

.skeleton-image {
  width: 1310px;
  height: 436px;
  @include background-gradient;
  animation: skeleton-screen-image 2.5s infinite ease-in-out;
}

.skeleton-body {
  .card-title-skeleton, .Characteristics-skeleton{
    width: 600px;
    height: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    @include background-gradient;
    animation: skeleton-screen-body 2.5s infinite ease-in-out;
  }

}

.introduce-skeleton {
  width: 1000px;
  height: 15px;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  @include background-gradient;
  animation: skeleton-screen-introduce-text 2.5s infinite ease-in-out;
}

@keyframes skeleton-screen-image {
  0% {
    background-position: -1310px;
  }
  100% {
    background-position: 1310px;
  }
}

@keyframes skeleton-screen-body {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 600px;
  }
}

@keyframes skeleton-screen-introduce-text {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 1000px;
  }
}