.dashboard-content-items {
  margin: 0 auto; }

.card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 50px; }

.avatar {
  border-radius: 50%;
  overflow: hidden; }
  .avatar img {
    width: 60px;
    height: auto; }
  .avatar #heroes-name {
    font-size: 18px;
    left: 85px;
    top: 15px; }
  .avatar #real-name {
    font-size: 18px;
    left: 85px;
    top: 40px;
    border-bottom: 2px solid #F44436;
    width: 80%; }

.card-header {
  height: 85px;
  background: #ffffff; }
  .card-header .lover {
    line-height: 50px; }
    .card-header .lover span {
      margin-left: 7px; }

.card-body {
  height: 511px;
  overflow: hidden;
  padding: 0;
  border-top: 4px solid #F44436;
  border-bottom: 4px solid #F44436; }
  .card-body .heroes-images img {
    margin: 0;
    min-width: 100%; }

.card-footer {
  background: #ffffff; }
  .card-footer span#love-number {
    padding-left: 10px; }
  .card-footer .slogan {
    padding-left: 10px; }

/*TODO : Add this to single file*/
/*Skeleton Screen Animation*/
.dashboard-content-items.skeleton {
  min-width: 925px;
  height: 3798.030px; }
  .dashboard-content-items.skeleton .card {
    height: 699px; }
    .dashboard-content-items.skeleton .card .card-header {
      height: 85px; }
      .dashboard-content-items.skeleton .card .card-header .avatar {
        height: 60px;
        width: 60px;
        background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
        animation: skeleton-screen-avatar 2.5s infinite ease-in-out; }
      .dashboard-content-items.skeleton .card .card-header #heroes-name-skeleton {
        width: 150px;
        height: 15px;
        border-radius: 7px;
        left: 85px;
        top: 23px;
        background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out; }
      .dashboard-content-items.skeleton .card .card-header #real-name-skeleton {
        width: 150px;
        height: 15px;
        border-radius: 7px;
        left: 85px;
        top: 48px;
        background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out; }
    .dashboard-content-items.skeleton .card .card-body {
      height: 511px;
      background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
      animation: skeleton-screen-body 2.5s infinite ease-in-out; }
    .dashboard-content-items.skeleton .card .card-footer {
      height: 73px; }
      .dashboard-content-items.skeleton .card .card-footer .lover {
        margin-bottom: 5px;
        width: 150px;
        height: 15px;
        border-radius: 7px;
        background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out; }
      .dashboard-content-items.skeleton .card .card-footer .slogan {
        width: 150px;
        height: 15px;
        border-radius: 7px;
        background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out; }

@keyframes skeleton-screen-avatar {
  0% {
    background-position: -60px; }
  100% {
    background-position: 60px; } }
@keyframes skeleton-screen-body {
  0% {
    background-position: -895px; }
  100% {
    background-position: 895px; } }
@keyframes skeleton-screen-header-text {
  0% {
    background-position: -150px; }
  100% {
    background-position: 150px; } }

/*# sourceMappingURL=heroes-component.component.css.map */
