.dashboard-content-items {
  margin: 0 auto;
}

.card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 50px;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 60px;
    height: auto;
  }
  #heroes-name {
    font-size: 18px;
    left: 85px;
    top: 15px;
  }
  #real-name {
    font-size: 18px;
    left: 85px;
    top: 40px;
    border-bottom: 2px solid #F44436;
    width: 80%;
  }
}

.card-header {
  height: 85px;
  background: #ffffff;
  .lover {
    line-height: 50px;
    span {
      margin-left: 7px;
    }
  }
}

.card-body {
  height: 511px;
  overflow: hidden;
  padding: 0;
  border-top: 2px solid #F44436;
  border-bottom: 4px solid #F44436;
  .heroes-images {
    img {
      margin: 0;
      min-width: 100%;
    }
  }
}

.card-footer {
  background: #ffffff;
  span#love-number {
    padding-left: 10px;
  }
  .slogan {
    padding-left: 10px;
  }
}

/*TODO : Add this to single file*/
/*Skeleton Screen Animation*/
$base-color: #F4F4F4;
$shine-color: rgba(229, 229, 229, 0.8);
$animation-duration: 2.0s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
}

.dashboard-content-items.skeleton {
  min-width: 925px;
  height: 3798.030px;
  .card {
    height: 699px;
    .card-header {
      height: 85px;
      .avatar {
        height: 60px;
        width: 60px;
        @include background-gradient;
        animation: skeleton-screen-avatar 2.5s infinite ease-in-out;
      }
      #heroes-name-skeleton {
        width: 150px;
        height: 15px;
        border-radius: 7px;
        left: 85px;
        top: 23px;
        @include background-gradient;
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out;
      }
      #real-name-skeleton {
        width: 150px;
        height: 15px;
        border-radius: 7px;
        left: 85px;
        top: 48px;
        @include background-gradient;
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out
      }

    }
    .card-body {
      height: 511px;
      @include background-gradient;
      animation: skeleton-screen-body 2.5s infinite ease-in-out;
    }
    .card-footer {
      height: 73px;
      .lover{
        margin-bottom: 5px;
        width: 150px;
        height: 15px;
        border-radius: 7px;
        @include background-gradient;
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out
      }
      .slogan{
        width: 150px;
        height: 15px;
        border-radius: 7px;
        @include background-gradient;
        animation: skeleton-screen-header-text 2.5s infinite ease-in-out
      }
    }
  }
}

@keyframes skeleton-screen-avatar {
  0% {
    background-position: -60px;
  }
  100% {
    background-position: 60px;
  }
}

@keyframes skeleton-screen-body {
  0% {
    background-position: -895px;
  }
  100% {
    background-position: 895px;
  }
}

@keyframes skeleton-screen-header-text {
  0% {
    background-position: -150px;
  }
  100% {
    background-position: 150px;
  }
}