mdb-navbar{
  .logo{
    img{
      width:150px;
      height: auto;
    }
  }
  .md-form{
    margin-top: 0!important;
    margin-bottom: 0!important;
    input{
      caret-color:#fff;
      &:focus{
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
      }
    }
  }
}