<div class="list-container container" *ngIf="skeleton;else skeletonScreen">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 card-items" *ngFor="let heroProperties of heroesData">
      <!-- Card -->
      <div class="card">
        <div class="view rgba-white-slight waves-light skeleton-image" routerLink="/detail/{{heroProperties.id}}" mdbWavesEffect>
          <!-- Card img -->
          <img src="../../assets/images/heroes/{{heroProperties.imagesList}}" alt="" class="img-responsive img-fluid img--height">
          <a> <div class="mask"></div> </a>
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <mdb-card-title> <h4>{{heroProperties.realName}}</h4> </mdb-card-title>
          <button class="btn btn-primary waves-light" mdbWavesEffect routerLink="/edit/{{heroProperties.id}}">Edit</button>
          <button class="btn btn-danger waves-light" mdbWavesEffect (click)="selectHeroToDeleteFunc(heroProperties)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #skeletonScreen>
  <div class="list-container container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 card-items skeleton" *ngFor="let heroProperties of skeletonData">
        <!-- Card -->
        <div class="card">
          <div class="view rgba-white-slight waves-light skeleton-image" mdbWavesEffect>
            <!-- Card img -->
            <img src="" alt="" class="img-responsive img-fluid img--height">
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <div class="card-title card-title-skeleton"></div>
            <!--Text-->
            <div class="card-text card-text-skeleton"></div>
            <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Edit</a>
            <a href="#" class="btn btn-danger waves-light" mdbWavesEffect>Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
