/* You can add global styles to this file, and also import other style files */
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}

.ng-progress-bar {
  position: absolute!important;
  top: 70px!important;
  // bar wrapper
}

.ng-bar-placeholder {
  // bar placeholder

  // change the height of the progress bar
  height: 40px !important;
}

.ng-bar {
  // the actual bar that translates with when the progress increments
}

.ng-spinner {
  // Spinner wrapper
}

.ng-spinner-icon {
  // The actual spinner where defines the radius size and animation
}
.red{
  background: #E50A15!important;
}
body{
  background-image: url("/assets/images/pattern.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}